<!doctype html>
<html>
    <head>
        <title>Contact Us - Sanrakshan</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Alata&family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-contact">
            <div class="container">
                <a class="navbar-brand" href="#">SANRAKSHAN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link au" href="#row-about">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link ogo" href="#row-object">Our Green Objective</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link oc" href="#row-campaign">Our Campaigns</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link awa" href="#">Awards</a>
                    </li>
                    <li class="nav-item help-item">
                        <a class="nav-link help" href="/contact-us">Contact Us!</a>
                    </li>
                    <li class="nav-item donate-item">
                        <a class="nav-link donate" href="#">Donate</a>
                    </li>
                </ul>
                </div>
            </div>
          </nav>
          <div class="contactus">
              <section class="container">
                  <h1 class="contact-heading">Contact Us</h1>
                  <p class="contact-subline">If you wish to send us a message or ask us any questions, kindly fill the form below.</p>
                  <form action="/send-message" method="post">
                    
                    <div class="row">
                        <div class="col-md-6 multi-horizontal">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="bmd-label-floating">NAME</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="name">
                            </div>
                        </div>
                        <div class="col-md-6 multi-horizontal">
                            <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">EMAIL ADDRESS</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                            <span class="bmd-help">*We'll never share your email with anyone else.</span>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 multi-horizontal">
                            <div class="form-group">
                                <label for="exampleTextarea" class="bmd-label-floating">MESSAGE</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3" name="message"></textarea>
                            </div>            
                            <button class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                        <!-- </div> -->
                    </div>
                    
                  </form>  
              </section>
          </div>
          <footer id="sticky-footer" class="py-4 text-white-50 footer">
            <div class="row row-right">
                <div class="col-md-4 footer-col-md">
                    <img class="footer-image" src="{{  url_for('static',filename='images/logo-transparent.png')  }}">
                    <div class="beside-image">
                        <h2 class="footer-heading">SANRAKSHAN</h2>
                        <p style="font-size:90%;">A-1-A/34 A, Janak Puri, New Delhi-110058</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-subhead">QUICK LINKS</h5>
                    <a class="footer-anchor" href="/contact-us">Contact Us</a>
                    <a class="footer-anchor" href="#">Donate</a>
                    <a class="footer-anchor" href="#">Privacy Policy</a>
                </div>
                <div class="col-md-4">
                    <h5 class="footer-subhead">asdfasdf</h5>
                </div>
            </div>
          </footer>
          <div class="footer-copyright">
            <div class="row">
                <div class="col-md-6">
                    <small>Copyright &copy; - Sanrakshan | 2020. All Rights Reserved.</small>
                </div>
                <div class="col-md-6 social-icon-col">
                    <a href="#" class="fa fa-facebook"></a>
                </div>
            </div>
    </body>
</html>
