<!doctype html>
<html>
    <head>
        <Meta charset="utf-8">
            <meta name="contact us" content="Sanrakshan NGO">
        <title>Contact Us | Sanrakshan</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Secular+One&family=Alata&family=Montserrat:wght@400;600;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172480595-1"></script>
          <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-172480595-1');
        </script>
    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-dark navbar-contact">
            <div class="container">
                <a class="navbar-brand" href="/">SANRAKSHAN</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link au" href="/#row-about">About Us <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link ogo" href="/#row-object">Our Green Objective</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link oc" href="/#row-campaign">Our Campaigns</a>
                    </li>
                    <!-- <li class="nav-item">
                    <a class="nav-link awa" href="#">Awards</a>
                    </li> -->
                    <li class="nav-item help-item">
                        <a class="nav-link help" href="/contact-us">Contact Us!</a>
                    </li>
                    <li class="nav-item donate-item">
                        <a class="nav-link donate" href="/donate">Donate</a>
                    </li>
                </ul>
                </div>
            </div>
          </nav>
          <div class="contactus">
            <div class="contact-icons">
                <div class="row row-center row-low-width">
                    <div class="col-md-4">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
                        </svg>
                        <p class="icon-text">+91 99712 60333</p>
                    </div>
                    <div class="col-md-4">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                        <p class="icon-text"><a href="mailto:radheshpuri1@gmail.com">radheshpuri1@gmail.com</a></p>
                    </div>
                    <div class="col-md-4">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"/>
                          <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                        </svg>
                        <p class="icon-text">A-1-A/34 A, Janak Puri, New Delhi-110058</p>
                    </div>
                </div>
            </div>
              <section class="container">
                  <h1 class="contact-heading">Contact Us</h1>
                  <p class="contact-subline">If you wish to send us a message or ask us any questions, kindly fill the form below.</p>
                  <form action="/send-message" method="post">
                    
                    <div class="row">
                        <div class="col-md-6 multi-horizontal">
                            <div class="form-group">
                                <label for="exampleInputPassword1" class="bmd-label-floating">NAME</label>
                                <input type="text" class="form-control" id="exampleInputPassword1" name="name">
                            </div>
                        </div>
                        <div class="col-md-6 multi-horizontal">
                            <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">EMAIL ADDRESS</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email">
                            <span class="bmd-help">*We will never share your email with anyone else.</span>
                          </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 multi-horizontal">
                            <div class="form-group">
                                <label for="exampleTextarea" class="bmd-label-floating">MESSAGE</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3" name="message"></textarea>
                            </div>            
                            <button class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-primary btn-raised">Submit</button>
                        <!-- </div> -->
                    </div>
                    
                  </form>  
              </section>
              
          </div>
          <footer id="sticky-footer" class="py-4 text-white-50 footer">
            <div class="row">
                <div class="col-md-6 footer-col-md">
                    <img class="footer-image" src="{{  url_for('static',filename='images/logo-transparent.png')  }}">
                    <div class="beside-image">
                        <h2 class="footer-heading">SANRAKSHAN</h2>
                        <p style="font-size:90%;">A-1-A/34 A, Janak Puri, New Delhi-110058</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5 class="footer-subhead">QUICK LINKS</h5>
                    <a class="footer-anchor" href="/contact-us">Contact Us</a>
                    <a class="footer-anchor" href="/donate">Donate</a>
                    <a class="footer-anchor" href="/privacy">Privacy Policy</a>
                </div>
            </div>
          </footer>
          <div class="footer-copyright">
            <div class="row">
                <div class="col-md-6">
                    <small>Copyright &copy; - Sanrakshan | 2020. All Rights Reserved.</small>
                </div>
                <div class="col-md-6 social-icon-col">
                    <a href="https://www.facebook.com/sanjay.puri.714655" class="fa fa-facebook" target="_blank"></a>
                </div>
            </div>
        </div>
        <div class="footer-copyright2">
            <div class="column">
                <div class="row-centre-donate">
                    <small>Website Developed by <a href="https://www.instagram.com/this.is.arnav/" target="_blank">Arnav</a> and <a href="https://www.instagram.com/gurpreetdhill0n/" target="_blank">Gurpreet</a></small>
                </div>
            </div>
        </div>
    </body>
</html>
